.step-card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .step-card-header {
    background-color: var(--secondary-blue);
    text-align: center;
    padding: 4px 0;
  }

  .step-card-description {
    text-align: center;
  }
}
